build/
out/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake
Testing/
*.cmake
*.o
*.obj
*.lo
*.slo
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.pdb
*.ilk
.vscode/
.vs/
.idea/
.DS_Store
Thumbs.db
Desktop.ini
*.log